@model ApiTiendaDulceria.Models.Ofertas.Ofertas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ofertas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.porcentaje_descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.porcentaje_descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
